#
# Logical Preferences generated for Lattice by Synplify maplat, Build 401R.
#

# Period Constraints
FREQUENCY PORT "srclk" 1000.0 MHz;
FREQUENCY PORT "rclk" 1.0 MHz;
FREQUENCY PORT "clk" 168.0 MHz;
# Output Constraints
# Input Constraints
# Point-to-point Delay Constraints 


BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
