[[Info]]
_PARENT: none
_FAMILY: xo2c00
_FILE_FORMAT: 1.00
_DATA_VALUES: 1.00
_STATUS: Advanced

[[Project]]
DesignName: IR_RS232_SW
Family: MachXO2
Device: LCMXO2-640HC
Package: TQFP100
Operating: Commercial
Version: 8.0
Performance: -4
PartName: LCMXO2-640HC-4TG100C

[[Settings]]
EstimationMode: Medium
ProcessType: Typical
SoftwareMode: Calculation
TempAmbX: Ambient Temperature
SectionY: Total Power
SectionX: Vcc
SectionLowerLimit: 0.0000
SectionUpperLimit: 0.0000
SectionResolution: 0.0000
TempAmbY: Ambient Temperature
TempAmbLowerLimit: -30.0000
TempAmbUpperLimit: 115.0000
TempAmbResolution: 29.0000
FreqY: Total Power
FreqX: No Clocks Found!
FreqLowerLimit: 10.0000
FreqUpperLimit: 100.0000
FreqAmbResolution: 20.0000
DisableBandgap: false
DisablePor: false
DisableDll: false
DisableOsc: false
DisablePLL0: false
DisablePLL1: false
DisableInRd0: false
DisableInRd1: false
DisableInRd2: false
DisableInRd3: false
DisableInRd4: false
DisableInRd5: false
DisableInRd6: false
DisableInRd7: false
EnablePg0: false
EnablePg1: false
EnablePg2: false
EnablePg3: false
EnablePg4: false
EnablePg5: false
EnablePg6: false
EnablePg7: false
DisableLVDS: false
DisableLVDS1: false
DisableLVDS2: false
DisableLVDS3: false
DisableLVDS4: false
DisableLVDS5: false
DisableLVDS6: false
DisableLVDS7: false

[[Thermal]]
Airflow: 200 LFM
AmbientTemperature: 25
CustomThetaSA: -1
JunctionTemperature: 25.93
MaxSafeAmbient: 83.92
ThetaBA: 10.0
ThetaCS: 0
ThetaEffective: 16.65
ThetaJA: 20.59
ThetaJB: 12.88
ThetaJC: 0
ThetaSA: -1
UserThetaBA: No
UserThetaCS: No
UserThetaEffective: No
UserThetaJA: No
UserThetaJB: No
UserThetaJC: No
UserThetaSA: No
thetaBoard: Medium Board
thetaHeatSink: No Heat Sink
thetaOption: ThermalModels

[[VDPM]]
Supply = Voltage, DPM
Vcc = 3.300, 1.00
Vccio 3.3 = 3.300, 1.00
Vccio 2.5 = 2.500, 1.00
Vccio 1.8 = 1.800, 1.00
Vccio 1.5 = 1.500, 1.00
Vccio 1.2 = 1.200, 1.00

[[Logic]]
Clk = F, AF, LUT, RAM, RIPPLE, REG, X0, X1, X2, X6, ISB, ISBLUT, ISBCE, ISBLSR, ISBM, ISBCLK
COMBINATORIAL = 0.0000^d^, 10.0000^d^, 74, 0, 25, 0, 50, 43, 138, 48, 91, 81, 5, 0, 0, 0
rclk_c = 0.0000^d^, 10.0000^d^, 4, 0, 2, 8, 16, 6, 56, 13, 0, 0, 0, 0, 0, 4
srclk_c = 0.0000^d^, 10.0000^d^, 4, 0, 2, 7, 15, 5, 19, 10, 8, 7, 0, 0, 0, 4
clk_c = 0.0000^d^, 10.0000^d^, 170, 0, 149, 408, 412, 194, 737, 229, 2535, 2359, 125, 4, 14, 236

[[Clocks]]
Clk = F, Duty, Pfeed, Ptrunk, Pspine, Ptap, Pbranch, Strunk, Sspine, Stap, Sbranch, Etb, Ebg, Elr
rclk_c = 0.0000^d^, 100, 0, 0, 0, 0, 0, t4_1, c13_1, r4_2, b_6, 0, 0, 0
clk_c = 0.0000^d^, 100, f8_2, t3_1, s5_1_s13_1, p1_1_p5_1_p9_1_p13_1_p17_1, c2_6_c6_6_c10_6_c14_7_c17_6, t4_7, c5_7_c13_1, r4_11, b_22, 0, 0, 0

[[Input Output]]
Clk = _Type, _Mode, F, AF, IP, OP, PG, Cload, Bank, _ActualMode, _Pull, X0, X1, X2, X6, ISB
COMBINATORIAL = LVTTL33, none, 0.0000^d^, 10.0000^d^, 1, 0, OFF, 5, 0, none, DOWN, 0, 0, 0, 0, 0
COMBINATORIAL = LVTTL33, none, 0.0000^d^, 10.0000^d^, 6, 0, OFF, 5, 1, none, UP, 0, 0, 0, 0, 0
COMBINATORIAL = LVTTL33, none, 0.0000^d^, 10.0000^d^, 2, 0, OFF, 5, 0, none, UP, 0, 0, 0, 0, 0
COMBINATORIAL = LVTTL33, none, 0.0000^d^, 10.0000^d^, 3, 0, OFF, 5, 2, none, UP, 0, 0, 0, 0, 0
COMBINATORIAL = LVTTL33-8mA-SLEW:SLOW, none, 0.0000^d^, 10.0000^d^, 0, 4, N/A, 5, 3, none, UP, 0, 0, 0, 0, 0
COMBINATORIAL = LVTTL33-8mA-SLEW:SLOW, none, 0.0000^d^, 10.0000^d^, 0, 3, N/A, 5, 0, none, UP, 0, 0, 0, 0, 0
COMBINATORIAL = LVTTL33-8mA-SLEW:SLOW, none, 0.0000^d^, 10.0000^d^, 0, 2, N/A, 5, 2, none, UP, 0, 0, 0, 0, 0
rclk_c = LVTTL33-8mA-SLEW:SLOW, none, 0.0000^d^, 10.0000^d^, 0, 1, N/A, 5, 3, none, UP, 0, 0, 0, 0, 0
rclk_c = LVTTL33-8mA-SLEW:SLOW, none, 0.0000^d^, 10.0000^d^, 0, 1, N/A, 5, 1, none, UP, 0, 0, 0, 0, 0
srclk_c = LVTTL33, sdr, 0.0000^d^, 10.0000^d^, 1, 0, OFF, 5, 1, IREG_OREG, DOWN, 0, 0, 0, 0, 0
srclk_c = LVTTL33-8mA-SLEW:SLOW, none, 0.0000^d^, 10.0000^d^, 0, 1, N/A, 5, 3, none, UP, 0, 0, 0, 0, 0
srclk_c = LVTTL33, none, 0.0000^d^, 10.0000^d^, 1, 0, OFF, 5, 1, none, DOWN, 0, 0, 0, 0, 0
clk_c = LVTTL33, sdr, 0.0000^d^, 10.0000^d^, 1, 0, OFF, 5, 1, IREG_OREG, DOWN, 0, 0, 0, 0, 0
clk_c = LVTTL33, sdr, 0.0000^d^, 10.0000^d^, 2, 0, OFF, 5, 2, IREG_OREG, UP, 0, 0, 0, 0, 0
clk_c = LVTTL33, sdr, 0.0000^d^, 10.0000^d^, 8, 0, OFF, 5, 3, IREG_OREG, UP, 0, 0, 0, 0, 0
clk_c = LVTTL33, sdr, 0.0000^d^, 10.0000^d^, 1, 0, OFF, 5, 0, IREG_OREG, UP, 0, 0, 0, 0, 0
clk_c = LVTTL33-8mA-SLEW:SLOW, none, 0.0000^d^, 10.0000^d^, 0, 1, N/A, 5, 0, none, UP, 0, 0, 0, 0, 0
clk_c = LVTTL33-8mA-SLEW:SLOW, none, 0.0000^d^, 10.0000^d^, 0, 2, N/A, 5, 3, none, UP, 0, 0, 0, 0, 0
clk_c = LVTTL33-8mA-SLEW:SLOW, none, 0.0000^d^, 10.0000^d^, 0, 5, N/A, 5, 1, none, UP, 0, 0, 0, 0, 0
clk_c = LVTTL33-8mA-SLEW:SLOW, none, 0.0000^d^, 10.0000^d^, 0, 1, N/A, 5, 1, none, DOWN, 0, 0, 0, 0, 0
clk_c = LVTTL33, none, 0.0000^d^, 10.0000^d^, 1, 0, OFF, 5, 0, none, DOWN, 0, 0, 0, 0, 0

[[Bidi]]
ClkInpName = _Type, _Mode, InpF, InpAF, Bidi, PG, ClkOutName, OutF, OutAF, Duty, Cload, Bank, _ActualMode, _Pull, X0, X1, X2, X6, ISB

[[Bank Voltage]]
Bank = Voltage, InRD, LVDSO, PG
0 = Vccio 3.3, No, No, OFF
1 = Vccio 3.3, No, N/A, OFF
2 = Vccio 3.3, No, N/A, OFF
3 = Vccio 3.3, No, N/A, OFF

[[Termination]]
_Type = IP, OP, Bidi, Duty, Bank, Rth, Vth
LVTTL33 = 5, 0, 0, 0.0, 0, 1.0E12, 0
LVTTL33 = 9, 0, 0, 0.0, 1, 1.0E12, 0
LVTTL33 = 5, 0, 0, 0.0, 2, 1.0E12, 0
LVTTL33-8mA-SLEW:SLOW = 0, 8, 0, 0.0, 3, 1.0E12, 0
LVTTL33-8mA-SLEW:SLOW = 0, 4, 0, 0.0, 0, 1.0E12, 0
LVTTL33-8mA-SLEW:SLOW = 0, 2, 0, 0.0, 2, 1.0E12, 0
LVTTL33-8mA-SLEW:SLOW = 0, 7, 0, 0.0, 1, 1.0E12, 0
LVTTL33 = 8, 0, 0, 0.0, 3, 1.0E12, 0

[[SP RAM]]
Clk = EBR, F, AF, _Type, X0, X1, X2, X6, ISB

[[DP RAM]]
RdClk = RdF, RdAF, EBR, WrClk, WrF, WrAF, _TypeA, _TypeB, X0, X1, X2, X6, ISB

[[DP RAM True]]
ClkA = aF, aAF, EBR, ClkB, bF, bAF, _TypeA, _TypeB, X0, X1, X2, X6, ISB

[[FIFO DC]]
RdClk = RdF, RdAF, EBR, WrClk, WrF, WrAF, _TypeA, _TypeB, X0, X1, X2, X6, ISB
clk_c = 0.0000^d^, 10.0000^d^, 1, clk_c, 0.0000^d^, 10.0000^d^, FIFO8KB_READ, FIFO8KB_WRITE, 0, 0, 0, 0, 0

[[I2C1]]
Clk = F, AF, I2C1

[[I2C2]]
Clk = F, AF, I2C2

[[SPI]]
Clk = F, AF, SPI

[[TC]]
Clk = F, AF, TC, WBUSED

[[UFM]]
Clk = F, AF, UFM

[[WISHBONE]]
Clk = F, AF, WISHBONE

[[CLKDIV]]
Clk = F, AF, CLKDIV

[[CIBTEST]]
CIBTEST = 
0 = 

[[MCLK]]
STANDBY = Clk, F, AF, MCLK, MCLKF, SEDF
No = _CLKNAME, 266.0000, 100.0000, 1, 2.0800, 2.0800

[[POR]]
STANDBY = 
No = 

[[BANDGAP]]
STANDBY = 
No = 

[[JTAG]]
Clk = F, AF, Input, Output
COMBINATORIAL = 25.0000, 100.0000, 3, 1

[[SED]]
_Mode = SED, STATUS
SEDFA = 0, Disabled

[[PLL Clock]]
Out = In

[[Connections]]
Clock = Comp, Type
COMBINATORIAL = ir_rx_isnt5/SLICE_1, 0
COMBINATORIAL = mcu_rs232_rx, 1
COMBINATORIAL = rs232_402_4rx, 1
COMBINATORIAL = rs232_402_3rx, 1
COMBINATORIAL = tcp_rs232_rx, 1
COMBINATORIAL = db9_rs232_rx, 1
COMBINATORIAL = rs232_zone4_rx, 1
COMBINATORIAL = rs232_zone3_rx, 1
COMBINATORIAL = rs232_zone2_rx, 1
COMBINATORIAL = rs232_zone1_rx, 1
rclk_c = SLICE_28, 0
rclk_c = ir2mcu, 1
rclk_c = ir_out3, 1
srclk_c = srclk, 1
srclk_c = ir_out4, 1
clk_c = clk, 1
clk_c = ack2mcu, 1
clk_c = ir402out3, 1
clk_c = ir402out1, 1
clk_c = ir_out1, 1
clk_c = ir_out2, 1
clk_c = rs232_402_2rx, 1
clk_c = ir402out2, 1
clk_c = ir402out4, 1
clk_c = rs232_402_1rx, 1

[[Hierarchical Connections]]
Key = Name, Type
SIGNAL = COMBINATORIAL, DUMMY
INPUT = ir_rx_isnt5/SLICE_1, SLICE
INPUT = ir_rx_isnt5/SLICE_2, SLICE
INPUT = ir_rx_isnt5/SLICE_3, SLICE
INPUT = ir_rx_isnt5/SLICE_4, SLICE
INPUT = ir_rx_isnt5/SLICE_5, SLICE
INPUT = ir_rx_isnt5/SLICE_6, SLICE
INPUT = ir_rx_isnt4/SLICE_7, SLICE
INPUT = ir_rx_isnt4/SLICE_8, SLICE
INPUT = ir_rx_isnt4/SLICE_9, SLICE
INPUT = ir_rx_isnt4/SLICE_10, SLICE
INPUT = ir_rx_isnt4/SLICE_11, SLICE
INPUT = ir_rx_isnt4/SLICE_12, SLICE
INPUT = ir_rx_isnt3/SLICE_13, SLICE
INPUT = ir_rx_isnt3/SLICE_14, SLICE
INPUT = ir_rx_isnt3/SLICE_15, SLICE
INPUT = ir_rx_isnt3/SLICE_16, SLICE
INPUT = uart_u2/speed_tx/SLICE_67, SLICE
INPUT = uart_u2/speed_tx/SLICE_68, SLICE
INPUT = uart_u2/speed_tx/SLICE_69, SLICE
INPUT = uart_u2/speed_tx/SLICE_70, SLICE
INPUT = uart_u2/speed_tx/SLICE_71, SLICE
INPUT = uart_u2/speed_tx/SLICE_72, SLICE
INPUT = uart_u2/speed_tx/SLICE_73, SLICE
INPUT = SLICE_82, SLICE
INPUT = SLICE_87, SLICE
INPUT = uart_u2/my_uart_tx/rs232_tx_r_11_7/SLICE_295, SLICE
INPUT = uart_u2/my_uart_tx/SLICE_296, SLICE
INPUT = SLICE_297, SLICE
INPUT = SLICE_298, SLICE
INPUT = SLICE_302, SLICE
INPUT = SLICE_308, SLICE
INPUT = SLICE_311, SLICE
INPUT = SLICE_312, SLICE
INPUT = SLICE_313, SLICE
INPUT = SLICE_315, SLICE
INPUT = SLICE_317, SLICE
INPUT = SLICE_318, SLICE
INPUT = SLICE_319, SLICE
INPUT = SLICE_320, SLICE
INPUT = SLICE_321, SLICE
INPUT = SLICE_322, SLICE
INPUT = SLICE_323, SLICE
INPUT = SLICE_325, SLICE
INPUT = uart_u2/speed_tx/SLICE_326, SLICE
INPUT = uart_u2/speed_tx/SLICE_327, SLICE
INPUT = uart_u2/speed_tx/SLICE_328, SLICE
INPUT = uart_u2/speed_tx/SLICE_329, SLICE
INPUT = uart_u2/my_uart_tx/SLICE_336, SLICE
INPUT = uart_u2/speed_tx/SLICE_337, SLICE
INPUT = SLICE_339, SLICE
INPUT = uart_u2/speed_tx/SLICE_340, SLICE
INPUT = SLICE_341, SLICE
INPUT = SLICE_342, SLICE
INPUT = SLICE_343, SLICE
INPUT = SLICE_344, SLICE
INPUT = SLICE_345, SLICE
INPUT = SLICE_346, SLICE
INPUT = SLICE_347, SLICE
INPUT = SLICE_348, SLICE
INPUT = SLICE_349, SLICE
INPUT = ir_rx_isnt4/SLICE_352, SLICE
INPUT = uart_u2/my_uart_tx/SLICE_354, SLICE
INPUT = mcu_rs232_rx, PIO
INPUT = rs232_402_4rx, PIO
INPUT = rs232_402_3rx, PIO
INPUT = tcp_rs232_rx, PIO
INPUT = db9_rs232_rx, PIO
INPUT = rs232_zone4_rx, PIO
INPUT = rs232_zone3_rx, PIO
INPUT = rs232_zone2_rx, PIO
INPUT = rs232_zone1_rx, PIO
INPUT = mcu_rs232_tx, PIO
INPUT = rs232_402_4tx, PIO
INPUT = rs232_402_3tx, PIO
INPUT = rs232_402_2tx, PIO
INPUT = rs232_402_1tx, PIO
INPUT = ir_fnt, PIO
INPUT = ir_eye, PIO
INPUT = ir402_in4, PIO
INPUT = ir402_in3, PIO
INPUT = ir402_in2, PIO
INPUT = ir402_in1, PIO
INPUT = rstn, PIO
INPUT = GSR_INST, GSR
SIGNAL = rclk_c, DUMMY
OUTPUT = SLICE_28, SLICE
OUTPORT = ir_rx_isnt1/un6_hig_cnt_cry_3_0_S0, F0
OUTPORT = con[6], Q0
OUTPORT = ir_rx_isnt1/un6_hig_cnt_cry_3_0_S1, F1
OUTPORT = con[7], Q1
OUTPORT = ir_rx_isnt1/un6_hig_cnt_cry_4, FCO
OUTPUT = SLICE_30, SLICE
OUTPORT = con[4], Q0
OUTPORT = con[5], Q1
OUTPORT = ir_rx_isnt1/un6_hig_cnt_cry_0, FCO
OUTPUT = SLICE_300, SLICE
OUTPORT = un1_hig_cntlto9, F0
OUTPORT = con[2], Q0
OUTPORT = ir2mcu_c, F1
OUTPORT = con[3], Q1
OUTPUT = ir2mcu, PIO
OUTPUT = SLICE_306, SLICE
OUTPORT = N_145, F0
OUTPORT = con[0], Q0
OUTPORT = ir_out3_i_a2_i_o4_1, F1
OUTPORT = con[1], Q1
OUTPUT = ir_out3, PIO
SIGNAL = srclk_c, DUMMY
INPUT = srclk, PIO
OUTPUT = SLICE_27, SLICE
OUTPORT = ir_rx_isnt1/un6_hig_cnt_cry_5_0_S0, F0
OUTPORT = hc595_u/qh0, Q0
OUTPORT = ir_rx_isnt1/un6_hig_cnt_cry_5_0_S1, F1
OUTPORT = ir_rx_isnt1/un6_hig_cnt_cry_6, FCO
OUTPUT = SLICE_29, SLICE
OUTPORT = ir_rx_isnt1/un6_hig_cnt_cry_1_0_S0, F0
OUTPORT = hc595_u/qf0, Q0
OUTPORT = ir_rx_isnt1/un6_hig_cnt_cry_1_0_S1, F1
OUTPORT = hc595_u/qg0, Q1
OUTPORT = ir_rx_isnt1/un6_hig_cnt_cry_2, FCO
OUTPUT = SLICE_307, SLICE
OUTPORT = N_149, F0
OUTPORT = hc595_u/qb0, Q0
OUTPORT = ir_out4_i_a2_i_o4_1, F1
OUTPORT = hc595_u/qc0, Q1
OUTPUT = ir_out4, PIO
OUTPUT = SLICE_350, SLICE
OUTPORT = ir_rx_isnt1/un1_hig_cntlto9_3, F0
OUTPORT = hc595_u/qd0, Q0
OUTPORT = ir_rx_isnt1/un1_hig_cntlto9_4, F1
OUTPORT = hc595_u/qe0, Q1
SIGNAL = clk_c, DUMMY
INPUT = clk, PIO
OUTPUT = SLICE_0, SLICE
OUTPORT = db9cntclrack_s[0], F1
OUTPORT = db9cntclrack[0], Q1
OUTPORT = db9cntclrack_cry[0], FCO
OUTPUT = SLICE_17, SLICE
OUTPORT = ir_rx_isnt3/un6_hig_cnt_cry_1_0_S0_1, F0
OUTPORT = ir_in4_reg, Q0
OUTPORT = ir_rx_isnt3/un6_hig_cnt_cry_1_0_S1_1, F1
OUTPORT = ir_in4_reg1, Q1
OUTPORT = ir_rx_isnt3/un6_hig_cnt_cry_2, FCO
OUTPUT = SLICE_18, SLICE
OUTPORT = ir_in3_reg, Q0
OUTPORT = ir_in3_reg1, Q1
OUTPORT = ir_rx_isnt3/un6_hig_cnt_cry_0, FCO
OUTPUT = SLICE_19, SLICE
OUTPORT = ir_rx_isnt2/un6_hig_cnt_s_9_0_S0_0, F0
OUTPORT = ir_in1_reg, Q0
OUTPORT = ir_in1_reg1, Q1
OUTPUT = SLICE_20, SLICE
OUTPORT = ir_rx_isnt2/un6_hig_cnt_cry_7_0_S0_0, F0
OUTPORT = ir_car_detect_o4_inst.ir_car_null, Q0
OUTPORT = ir_rx_isnt2/un6_hig_cnt_cry_7_0_S1_0, F1
OUTPORT = ir_rx_isnt2/un6_hig_cnt_cry_8, FCO
OUTPUT = SLICE_21, SLICE
OUTPORT = ir_rx_isnt2/un6_hig_cnt_cry_5_0_S0_0, F0
OUTPORT = ir_car_detect_o3_inst.ir_car_null, Q0
OUTPORT = ir_rx_isnt2/un6_hig_cnt_cry_5_0_S1_0, F1
OUTPORT = ir_rx_isnt2/un6_hig_cnt_cry_6, FCO
OUTPUT = SLICE_22, SLICE
OUTPORT = ir_rx_isnt2/un6_hig_cnt_cry_3_0_S0_0, F0
OUTPORT = ir_car_detect_o2_inst.ir_car_null, Q0
OUTPORT = ir_rx_isnt2/un6_hig_cnt_cry_3_0_S1_0, F1
OUTPORT = ir_rx_isnt2/un6_hig_cnt_cry_4, FCO
OUTPUT = SLICE_23, SLICE
OUTPORT = ir_rx_isnt2/un6_hig_cnt_cry_1_0_S0_0, F0
OUTPORT = ir_car_detect_o1_inst.ir_car_null, Q0
OUTPORT = ir_rx_isnt2/un6_hig_cnt_cry_1_0_S1_0, F1
OUTPORT = ir_rx_isnt2/un6_hig_cnt_cry_2, FCO
OUTPUT = SLICE_24, SLICE
OUTPORT = ir_car_detect_i1_inst/ir_sd_reg0, Q0
OUTPORT = ir_car_detect_i1_inst/ir_sd_reg1, Q1
OUTPORT = ir_rx_isnt2/un6_hig_cnt_cry_0, FCO
OUTPUT = SLICE_25, SLICE
OUTPORT = ir_rx_isnt1/un6_hig_cnt_s_9_0_S0, F0
OUTPORT = ir_car_care, Q0
OUTPUT = SLICE_26, SLICE
OUTPORT = ir_rx_isnt1/un6_hig_cnt_cry_7_0_S0, F0
OUTPORT = ir_all_in_temp_reg, Q0
OUTPORT = ir_rx_isnt1/un6_hig_cnt_cry_7_0_S1, F1
OUTPORT = ir_all_in_temp_reg1, Q1
OUTPORT = ir_rx_isnt1/un6_hig_cnt_cry_8, FCO
OUTPUT = ir_car_detect_i1_inst/SLICE_31, SLICE
OUTPORT = ir_car_detect_i1_inst/ir_cnt_s[11], F0
OUTPORT = ir_car_detect_i1_inst/ir_cnt[11], Q0
OUTPUT = ir_car_detect_i1_inst/SLICE_32, SLICE
OUTPORT = ir_car_detect_i1_inst/ir_cnt_s[9], F0
OUTPORT = ir_car_detect_i1_inst/ir_cnt[9], Q0
OUTPORT = ir_car_detect_i1_inst/ir_cnt_s[10], F1
OUTPORT = ir_car_detect_i1_inst/ir_cnt[10], Q1
OUTPORT = ir_car_detect_i1_inst/ir_cnt_cry[10], FCO
OUTPUT = ir_car_detect_i1_inst/SLICE_33, SLICE
OUTPORT = ir_car_detect_i1_inst/ir_cnt_s[7], F0
OUTPORT = ir_car_detect_i1_inst/ir_cnt[7], Q0
OUTPORT = ir_car_detect_i1_inst/ir_cnt_s[8], F1
OUTPORT = ir_car_detect_i1_inst/ir_cnt[8], Q1
OUTPORT = ir_car_detect_i1_inst/ir_cnt_cry[8], FCO
OUTPUT = ir_car_detect_i1_inst/SLICE_34, SLICE
OUTPORT = ir_car_detect_i1_inst/ir_cnt_s[5], F0
OUTPORT = ir_car_detect_i1_inst/ir_cnt[5], Q0
OUTPORT = ir_car_detect_i1_inst/ir_cnt_s[6], F1
OUTPORT = ir_car_detect_i1_inst/ir_cnt[6], Q1
OUTPORT = ir_car_detect_i1_inst/ir_cnt_cry[6], FCO
OUTPUT = ir_car_detect_i1_inst/SLICE_35, SLICE
OUTPORT = ir_car_detect_i1_inst/ir_cnt_s[3], F0
OUTPORT = ir_car_detect_i1_inst/ir_cnt[3], Q0
OUTPORT = ir_car_detect_i1_inst/ir_cnt_s[4], F1
OUTPORT = ir_car_detect_i1_inst/ir_cnt[4], Q1
OUTPORT = ir_car_detect_i1_inst/ir_cnt_cry[4], FCO
OUTPUT = ir_car_detect_i1_inst/SLICE_36, SLICE
OUTPORT = ir_car_detect_i1_inst/ir_cnt_s[1], F0
OUTPORT = ir_car_detect_i1_inst/ir_cnt[1], Q0
OUTPORT = ir_car_detect_i1_inst/ir_cnt_s[2], F1
OUTPORT = ir_car_detect_i1_inst/ir_cnt[2], Q1
OUTPORT = ir_car_detect_i1_inst/ir_cnt_cry[2], FCO
OUTPUT = ir_car_detect_i1_inst/SLICE_37, SLICE
OUTPORT = ir_car_detect_i1_inst/ir_cnt_s[0], F1
OUTPORT = ir_car_detect_i1_inst/ir_cnt[0], Q1
OUTPORT = ir_car_detect_i1_inst/ir_cnt_cry[0], FCO
OUTPUT = ir_car_detect_o4_inst/SLICE_38, SLICE
OUTPORT = ir_car_detect_o4_inst/ir_cnt_s[11], F0
OUTPORT = ir_car_detect_o4_inst/ir_cnt[11], Q0
OUTPUT = ir_car_detect_o4_inst/SLICE_39, SLICE
OUTPORT = ir_car_detect_o4_inst/ir_cnt_s[9], F0
OUTPORT = ir_car_detect_o4_inst/ir_cnt[9], Q0
OUTPORT = ir_car_detect_o4_inst/ir_cnt_s[10], F1
OUTPORT = ir_car_detect_o4_inst/ir_cnt[10], Q1
OUTPORT = ir_car_detect_o4_inst/ir_cnt_cry[10], FCO
OUTPUT = ir_car_detect_o4_inst/SLICE_40, SLICE
OUTPORT = ir_car_detect_o4_inst/ir_cnt_s[7], F0
OUTPORT = ir_car_detect_o4_inst/ir_cnt[7], Q0
OUTPORT = ir_car_detect_o4_inst/ir_cnt_s[8], F1
OUTPORT = ir_car_detect_o4_inst/ir_cnt[8], Q1
OUTPORT = ir_car_detect_o4_inst/ir_cnt_cry[8], FCO
OUTPUT = ir_car_detect_o4_inst/SLICE_41, SLICE
OUTPORT = ir_car_detect_o4_inst/ir_cnt_s[5], F0
OUTPORT = ir_car_detect_o4_inst/ir_cnt[5], Q0
OUTPORT = ir_car_detect_o4_inst/ir_cnt_s[6], F1
OUTPORT = ir_car_detect_o4_inst/ir_cnt[6], Q1
OUTPORT = ir_car_detect_o4_inst/ir_cnt_cry[6], FCO
OUTPUT = ir_car_detect_o4_inst/SLICE_42, SLICE
OUTPORT = ir_car_detect_o4_inst/ir_cnt_s[3], F0
OUTPORT = ir_car_detect_o4_inst/ir_cnt[3], Q0
OUTPORT = ir_car_detect_o4_inst/ir_cnt_s[4], F1
OUTPORT = ir_car_detect_o4_inst/ir_cnt[4], Q1
OUTPORT = ir_car_detect_o4_inst/ir_cnt_cry[4], FCO
OUTPUT = ir_car_detect_o4_inst/SLICE_43, SLICE
OUTPORT = ir_car_detect_o4_inst/ir_cnt_s[1], F0
OUTPORT = ir_car_detect_o4_inst/ir_cnt[1], Q0
OUTPORT = ir_car_detect_o4_inst/ir_cnt_s[2], F1
OUTPORT = ir_car_detect_o4_inst/ir_cnt[2], Q1
OUTPORT = ir_car_detect_o4_inst/ir_cnt_cry[2], FCO
OUTPUT = ir_car_detect_o4_inst/SLICE_44, SLICE
OUTPORT = ir_car_detect_o4_inst/ir_cnt_s[0], F1
OUTPORT = ir_car_detect_o4_inst/ir_cnt[0], Q1
OUTPORT = ir_car_detect_o4_inst/ir_cnt_cry[0], FCO
OUTPUT = ir_car_detect_o3_inst/SLICE_45, SLICE
OUTPORT = ir_car_detect_o3_inst/ir_cnt_s[11], F0
OUTPORT = ir_car_detect_o3_inst/ir_cnt[11], Q0
OUTPUT = ir_car_detect_o3_inst/SLICE_46, SLICE
OUTPORT = ir_car_detect_o3_inst/ir_cnt_s[9], F0
OUTPORT = ir_car_detect_o3_inst/ir_cnt[9], Q0
OUTPORT = ir_car_detect_o3_inst/ir_cnt_s[10], F1
OUTPORT = ir_car_detect_o3_inst/ir_cnt[10], Q1
OUTPORT = ir_car_detect_o3_inst/ir_cnt_cry[10], FCO
OUTPUT = ir_car_detect_o3_inst/SLICE_47, SLICE
OUTPORT = ir_car_detect_o3_inst/ir_cnt_s[7], F0
OUTPORT = ir_car_detect_o3_inst/ir_cnt[7], Q0
OUTPORT = ir_car_detect_o3_inst/ir_cnt_s[8], F1
OUTPORT = ir_car_detect_o3_inst/ir_cnt[8], Q1
OUTPORT = ir_car_detect_o3_inst/ir_cnt_cry[8], FCO
OUTPUT = ir_car_detect_o3_inst/SLICE_48, SLICE
OUTPORT = ir_car_detect_o3_inst/ir_cnt_s[5], F0
OUTPORT = ir_car_detect_o3_inst/ir_cnt[5], Q0
OUTPORT = ir_car_detect_o3_inst/ir_cnt_s[6], F1
OUTPORT = ir_car_detect_o3_inst/ir_cnt[6], Q1
OUTPORT = ir_car_detect_o3_inst/ir_cnt_cry[6], FCO
OUTPUT = ir_car_detect_o3_inst/SLICE_49, SLICE
OUTPORT = ir_car_detect_o3_inst/ir_cnt_s[3], F0
OUTPORT = ir_car_detect_o3_inst/ir_cnt[3], Q0
OUTPORT = ir_car_detect_o3_inst/ir_cnt_s[4], F1
OUTPORT = ir_car_detect_o3_inst/ir_cnt[4], Q1
OUTPORT = ir_car_detect_o3_inst/ir_cnt_cry[4], FCO
OUTPUT = ir_car_detect_o3_inst/SLICE_50, SLICE
OUTPORT = ir_car_detect_o3_inst/ir_cnt_s[1], F0
OUTPORT = ir_car_detect_o3_inst/ir_cnt[1], Q0
OUTPORT = ir_car_detect_o3_inst/ir_cnt_s[2], F1
OUTPORT = ir_car_detect_o3_inst/ir_cnt[2], Q1
OUTPORT = ir_car_detect_o3_inst/ir_cnt_cry[2], FCO
OUTPUT = ir_car_detect_o3_inst/SLICE_51, SLICE
OUTPORT = ir_car_detect_o3_inst/ir_cnt_s[0], F1
OUTPORT = ir_car_detect_o3_inst/ir_cnt[0], Q1
OUTPORT = ir_car_detect_o3_inst/ir_cnt_cry[0], FCO
OUTPUT = ir_car_detect_o2_inst/SLICE_52, SLICE
OUTPORT = ir_car_detect_o2_inst/ir_cnt_s[11], F0
OUTPORT = ir_car_detect_o2_inst/ir_cnt[11], Q0
OUTPUT = ir_car_detect_o2_inst/SLICE_53, SLICE
OUTPORT = ir_car_detect_o2_inst/ir_cnt_s[9], F0
OUTPORT = ir_car_detect_o2_inst/ir_cnt[9], Q0
OUTPORT = ir_car_detect_o2_inst/ir_cnt_s[10], F1
OUTPORT = ir_car_detect_o2_inst/ir_cnt[10], Q1
OUTPORT = ir_car_detect_o2_inst/ir_cnt_cry[10], FCO
OUTPUT = ir_car_detect_o2_inst/SLICE_54, SLICE
OUTPORT = ir_car_detect_o2_inst/ir_cnt_s[7], F0
OUTPORT = ir_car_detect_o2_inst/ir_cnt[7], Q0
OUTPORT = ir_car_detect_o2_inst/ir_cnt_s[8], F1
OUTPORT = ir_car_detect_o2_inst/ir_cnt[8], Q1
OUTPORT = ir_car_detect_o2_inst/ir_cnt_cry[8], FCO
OUTPUT = ir_car_detect_o2_inst/SLICE_55, SLICE
OUTPORT = ir_car_detect_o2_inst/ir_cnt_s[5], F0
OUTPORT = ir_car_detect_o2_inst/ir_cnt[5], Q0
OUTPORT = ir_car_detect_o2_inst/ir_cnt_s[6], F1
OUTPORT = ir_car_detect_o2_inst/ir_cnt[6], Q1
OUTPORT = ir_car_detect_o2_inst/ir_cnt_cry[6], FCO
OUTPUT = ir_car_detect_o2_inst/SLICE_56, SLICE
OUTPORT = ir_car_detect_o2_inst/ir_cnt_s[3], F0
OUTPORT = ir_car_detect_o2_inst/ir_cnt[3], Q0
OUTPORT = ir_car_detect_o2_inst/ir_cnt_s[4], F1
OUTPORT = ir_car_detect_o2_inst/ir_cnt[4], Q1
OUTPORT = ir_car_detect_o2_inst/ir_cnt_cry[4], FCO
OUTPUT = ir_car_detect_o2_inst/SLICE_57, SLICE
OUTPORT = ir_car_detect_o2_inst/ir_cnt_s[1], F0
OUTPORT = ir_car_detect_o2_inst/ir_cnt[1], Q0
OUTPORT = ir_car_detect_o2_inst/ir_cnt_s[2], F1
OUTPORT = ir_car_detect_o2_inst/ir_cnt[2], Q1
OUTPORT = ir_car_detect_o2_inst/ir_cnt_cry[2], FCO
OUTPUT = ir_car_detect_o2_inst/SLICE_58, SLICE
OUTPORT = ir_car_detect_o2_inst/ir_cnt_s[0], F1
OUTPORT = ir_car_detect_o2_inst/ir_cnt[0], Q1
OUTPORT = ir_car_detect_o2_inst/ir_cnt_cry[0], FCO
OUTPUT = ir_car_detect_o1_inst/SLICE_59, SLICE
OUTPORT = ir_car_detect_o1_inst/ir_cnt_s[11], F0
OUTPORT = ir_car_detect_o1_inst/ir_cnt[11], Q0
OUTPUT = ir_car_detect_o1_inst/SLICE_60, SLICE
OUTPORT = ir_car_detect_o1_inst/ir_cnt_s[9], F0
OUTPORT = ir_car_detect_o1_inst/ir_cnt[9], Q0
OUTPORT = ir_car_detect_o1_inst/ir_cnt_s[10], F1
OUTPORT = ir_car_detect_o1_inst/ir_cnt[10], Q1
OUTPORT = ir_car_detect_o1_inst/ir_cnt_cry[10], FCO
OUTPUT = ir_car_detect_o1_inst/SLICE_61, SLICE
OUTPORT = ir_car_detect_o1_inst/ir_cnt_s[7], F0
OUTPORT = ir_car_detect_o1_inst/ir_cnt[7], Q0
OUTPORT = ir_car_detect_o1_inst/ir_cnt_s[8], F1
OUTPORT = ir_car_detect_o1_inst/ir_cnt[8], Q1
OUTPORT = ir_car_detect_o1_inst/ir_cnt_cry[8], FCO
OUTPUT = ir_car_detect_o1_inst/SLICE_62, SLICE
OUTPORT = ir_car_detect_o1_inst/ir_cnt_s[5], F0
OUTPORT = ir_car_detect_o1_inst/ir_cnt[5], Q0
OUTPORT = ir_car_detect_o1_inst/ir_cnt_s[6], F1
OUTPORT = ir_car_detect_o1_inst/ir_cnt[6], Q1
OUTPORT = ir_car_detect_o1_inst/ir_cnt_cry[6], FCO
OUTPUT = ir_car_detect_o1_inst/SLICE_63, SLICE
OUTPORT = ir_car_detect_o1_inst/ir_cnt_s[3], F0
OUTPORT = ir_car_detect_o1_inst/ir_cnt[3], Q0
OUTPORT = ir_car_detect_o1_inst/ir_cnt_s[4], F1
OUTPORT = ir_car_detect_o1_inst/ir_cnt[4], Q1
OUTPORT = ir_car_detect_o1_inst/ir_cnt_cry[4], FCO
OUTPUT = ir_car_detect_o1_inst/SLICE_64, SLICE
OUTPORT = ir_car_detect_o1_inst/ir_cnt_s[1], F0
OUTPORT = ir_car_detect_o1_inst/ir_cnt[1], Q0
OUTPORT = ir_car_detect_o1_inst/ir_cnt_s[2], F1
OUTPORT = ir_car_detect_o1_inst/ir_cnt[2], Q1
OUTPORT = ir_car_detect_o1_inst/ir_cnt_cry[2], FCO
OUTPUT = ir_car_detect_o1_inst/SLICE_65, SLICE
OUTPORT = ir_car_detect_o1_inst/ir_cnt_s[0], F1
OUTPORT = ir_car_detect_o1_inst/ir_cnt[0], Q1
OUTPORT = ir_car_detect_o1_inst/ir_cnt_cry[0], FCO
OUTPUT = uart_u2/speed_tx/SLICE_66, SLICE
OUTPORT = uart_u2/speed_tx/un1_cnt_cry_13_i, F1
OUTPORT = uart_u2/clk_bps, Q1
OUTPUT = uart_u2/speed_tx/SLICE_74, SLICE
OUTPORT = uart_u2/speed_tx/cnt_s[13], F0
OUTPORT = uart_u2/speed_tx/cnt[13], Q0
OUTPUT = uart_u2/speed_tx/SLICE_75, SLICE
OUTPORT = uart_u2/speed_tx/cnt_s[11], F0
OUTPORT = uart_u2/speed_tx/cnt[11], Q0
OUTPORT = uart_u2/speed_tx/cnt_s[12], F1
OUTPORT = uart_u2/speed_tx/cnt[12], Q1
OUTPORT = uart_u2/speed_tx/cnt_cry[12], FCO
OUTPUT = uart_u2/speed_tx/SLICE_76, SLICE
OUTPORT = uart_u2/speed_tx/cnt_s[9], F0
OUTPORT = uart_u2/speed_tx/cnt[9], Q0
OUTPORT = uart_u2/speed_tx/cnt_s[10], F1
OUTPORT = uart_u2/speed_tx/cnt[10], Q1
OUTPORT = uart_u2/speed_tx/cnt_cry[10], FCO
OUTPUT = uart_u2/speed_tx/SLICE_77, SLICE
OUTPORT = uart_u2/speed_tx/cnt_s[7], F0
OUTPORT = uart_u2/speed_tx/cnt[7], Q0
OUTPORT = uart_u2/speed_tx/cnt_s[8], F1
OUTPORT = uart_u2/speed_tx/cnt[8], Q1
OUTPORT = uart_u2/speed_tx/cnt_cry[8], FCO
OUTPUT = uart_u2/speed_tx/SLICE_78, SLICE
OUTPORT = uart_u2/speed_tx/cnt_s[5], F0
OUTPORT = uart_u2/speed_tx/cnt[5], Q0
OUTPORT = uart_u2/speed_tx/cnt_s[6], F1
OUTPORT = uart_u2/speed_tx/cnt[6], Q1
OUTPORT = uart_u2/speed_tx/cnt_cry[6], FCO
OUTPUT = uart_u2/speed_tx/SLICE_79, SLICE
OUTPORT = uart_u2/speed_tx/cnt_s[3], F0
OUTPORT = uart_u2/speed_tx/cnt[3], Q0
OUTPORT = uart_u2/speed_tx/cnt_s[4], F1
OUTPORT = uart_u2/speed_tx/cnt[4], Q1
OUTPORT = uart_u2/speed_tx/cnt_cry[4], FCO
OUTPUT = uart_u2/speed_tx/SLICE_80, SLICE
OUTPORT = uart_u2/speed_tx/cnt_s[1], F0
OUTPORT = uart_u2/speed_tx/cnt[1], Q0
OUTPORT = uart_u2/speed_tx/cnt_s[2], F1
OUTPORT = uart_u2/speed_tx/cnt[2], Q1
OUTPORT = uart_u2/speed_tx/cnt_cry[2], FCO
OUTPUT = uart_u2/speed_tx/SLICE_81, SLICE
OUTPORT = uart_u2/speed_tx/cnt_s[0], F1
OUTPORT = uart_u2/speed_tx/cnt[0], Q1
OUTPORT = uart_u2/speed_tx/cnt_cry[0], FCO
OUTPUT = SLICE_83, SLICE
OUTPORT = un3_car_cnt_cry_7_0_S0, F0
OUTPORT = un3_car_cnt_cry_7_0_S1, F1
OUTPORT = car_cnt[8], Q1
OUTPORT = un3_car_cnt_cry_8, FCO
OUTPUT = SLICE_84, SLICE
OUTPORT = un3_car_cnt_cry_5_0_S0, F0
OUTPORT = car_cnt[5], Q0
OUTPORT = un3_car_cnt_cry_5_0_S1, F1
OUTPORT = car_cnt[6], Q1
OUTPORT = un3_car_cnt_cry_6, FCO
OUTPUT = SLICE_85, SLICE
OUTPORT = un3_car_cnt_cry_3_0_S0, F0
OUTPORT = car_cnt[3], Q0
OUTPORT = un3_car_cnt_cry_3_0_S1, F1
OUTPORT = un3_car_cnt_cry_4, FCO
OUTPUT = SLICE_86, SLICE
OUTPORT = un3_car_cnt_cry_1_0_S0, F0
OUTPORT = un3_car_cnt_cry_1_0_S1, F1
OUTPORT = car_cnt[2], Q1
OUTPORT = un3_car_cnt_cry_2, FCO
OUTPUT = SLICE_88, SLICE
OUTPORT = zone4_cntclrack_s[23], F0
OUTPORT = zone4_cntclrack[23], Q0
OUTPUT = SLICE_89, SLICE
OUTPORT = zone4_cntclrack_s[21], F0
OUTPORT = zone4_cntclrack[21], Q0
OUTPORT = zone4_cntclrack_s[22], F1
OUTPORT = zone4_cntclrack[22], Q1
OUTPORT = zone4_cntclrack_cry[22], FCO
OUTPUT = SLICE_90, SLICE
OUTPORT = zone4_cntclrack_s[19], F0
OUTPORT = zone4_cntclrack[19], Q0
OUTPORT = zone4_cntclrack_s[20], F1
OUTPORT = zone4_cntclrack[20], Q1
OUTPORT = zone4_cntclrack_cry[20], FCO
OUTPUT = SLICE_91, SLICE
OUTPORT = zone4_cntclrack_s[17], F0
OUTPORT = zone4_cntclrack[17], Q0
OUTPORT = zone4_cntclrack_s[18], F1
OUTPORT = zone4_cntclrack[18], Q1
OUTPORT = zone4_cntclrack_cry[18], FCO
OUTPUT = SLICE_92, SLICE
OUTPORT = zone4_cntclrack_s[15], F0
OUTPORT = zone4_cntclrack[15], Q0
OUTPORT = zone4_cntclrack_s[16], F1
OUTPORT = zone4_cntclrack[16], Q1
OUTPORT = zone4_cntclrack_cry[16], FCO
OUTPUT = SLICE_93, SLICE
OUTPORT = zone4_cntclrack_s[13], F0
OUTPORT = zone4_cntclrack[13], Q0
OUTPORT = zone4_cntclrack_s[14], F1
OUTPORT = zone4_cntclrack[14], Q1
OUTPORT = zone4_cntclrack_cry[14], FCO
OUTPUT = SLICE_94, SLICE
OUTPORT = zone4_cntclrack_s[11], F0
OUTPORT = zone4_cntclrack[11], Q0
OUTPORT = zone4_cntclrack_s[12], F1
OUTPORT = zone4_cntclrack[12], Q1
OUTPORT = zone4_cntclrack_cry[12], FCO
OUTPUT = SLICE_95, SLICE
OUTPORT = zone4_cntclrack_s[9], F0
OUTPORT = zone4_cntclrack[9], Q0
OUTPORT = zone4_cntclrack_s[10], F1
OUTPORT = zone4_cntclrack[10], Q1
OUTPORT = zone4_cntclrack_cry[10], FCO
OUTPUT = SLICE_96, SLICE
OUTPORT = zone4_cntclrack_s[7], F0
OUTPORT = zone4_cntclrack[7], Q0
OUTPORT = zone4_cntclrack_s[8], F1
OUTPORT = zone4_cntclrack[8], Q1
OUTPORT = zone4_cntclrack_cry[8], FCO
OUTPUT = SLICE_97, SLICE
OUTPORT = zone4_cntclrack_s[5], F0
OUTPORT = zone4_cntclrack[5], Q0
OUTPORT = zone4_cntclrack_s[6], F1
OUTPORT = zone4_cntclrack[6], Q1
OUTPORT = zone4_cntclrack_cry[6], FCO
OUTPUT = SLICE_98, SLICE
OUTPORT = zone4_cntclrack_s[3], F0
OUTPORT = zone4_cntclrack[3], Q0
OUTPORT = zone4_cntclrack_s[4], F1
OUTPORT = zone4_cntclrack[4], Q1
OUTPORT = zone4_cntclrack_cry[4], FCO
OUTPUT = SLICE_99, SLICE
OUTPORT = zone4_cntclrack_s[1], F0
OUTPORT = zone4_cntclrack[1], Q0
OUTPORT = zone4_cntclrack_s[2], F1
OUTPORT = zone4_cntclrack[2], Q1
OUTPORT = zone4_cntclrack_cry[2], FCO
OUTPUT = SLICE_100, SLICE
OUTPORT = zone4_cntclrack_s[0], F1
OUTPORT = zone4_cntclrack[0], Q1
OUTPORT = zone4_cntclrack_cry[0], FCO
OUTPUT = SLICE_101, SLICE
OUTPORT = zone3_cntclrack_s[23], F0
OUTPORT = zone3_cntclrack[23], Q0
OUTPUT = SLICE_102, SLICE
OUTPORT = zone3_cntclrack_s[21], F0
OUTPORT = zone3_cntclrack[21], Q0
OUTPORT = zone3_cntclrack_s[22], F1
OUTPORT = zone3_cntclrack[22], Q1
OUTPORT = zone3_cntclrack_cry[22], FCO
OUTPUT = SLICE_103, SLICE
OUTPORT = zone3_cntclrack_s[19], F0
OUTPORT = zone3_cntclrack[19], Q0
OUTPORT = zone3_cntclrack_s[20], F1
OUTPORT = zone3_cntclrack[20], Q1
OUTPORT = zone3_cntclrack_cry[20], FCO
OUTPUT = SLICE_104, SLICE
OUTPORT = zone3_cntclrack_s[17], F0
OUTPORT = zone3_cntclrack[17], Q0
OUTPORT = zone3_cntclrack_s[18], F1
OUTPORT = zone3_cntclrack[18], Q1
OUTPORT = zone3_cntclrack_cry[18], FCO
OUTPUT = SLICE_105, SLICE
OUTPORT = zone3_cntclrack_s[15], F0
OUTPORT = zone3_cntclrack[15], Q0
OUTPORT = zone3_cntclrack_s[16], F1
OUTPORT = zone3_cntclrack[16], Q1
OUTPORT = zone3_cntclrack_cry[16], FCO
OUTPUT = SLICE_106, SLICE
OUTPORT = zone3_cntclrack_s[13], F0
OUTPORT = zone3_cntclrack[13], Q0
OUTPORT = zone3_cntclrack_s[14], F1
OUTPORT = zone3_cntclrack[14], Q1
OUTPORT = zone3_cntclrack_cry[14], FCO
OUTPUT = SLICE_107, SLICE
OUTPORT = zone3_cntclrack_s[11], F0
OUTPORT = zone3_cntclrack[11], Q0
OUTPORT = zone3_cntclrack_s[12], F1
OUTPORT = zone3_cntclrack[12], Q1
OUTPORT = zone3_cntclrack_cry[12], FCO
OUTPUT = SLICE_108, SLICE
OUTPORT = zone3_cntclrack_s[9], F0
OUTPORT = zone3_cntclrack[9], Q0
OUTPORT = zone3_cntclrack_s[10], F1
OUTPORT = zone3_cntclrack[10], Q1
OUTPORT = zone3_cntclrack_cry[10], FCO
OUTPUT = SLICE_109, SLICE
OUTPORT = zone3_cntclrack_s[7], F0
OUTPORT = zone3_cntclrack[7], Q0
OUTPORT = zone3_cntclrack_s[8], F1
OUTPORT = zone3_cntclrack[8], Q1
OUTPORT = zone3_cntclrack_cry[8], FCO
OUTPUT = SLICE_110, SLICE
OUTPORT = zone3_cntclrack_s[5], F0
OUTPORT = zone3_cntclrack[5], Q0
OUTPORT = zone3_cntclrack_s[6], F1
OUTPORT = zone3_cntclrack[6], Q1
OUTPORT = zone3_cntclrack_cry[6], FCO
OUTPUT = SLICE_111, SLICE
OUTPORT = zone3_cntclrack_s[3], F0
OUTPORT = zone3_cntclrack[3], Q0
OUTPORT = zone3_cntclrack_s[4], F1
OUTPORT = zone3_cntclrack[4], Q1
OUTPORT = zone3_cntclrack_cry[4], FCO
OUTPUT = SLICE_112, SLICE
OUTPORT = zone3_cntclrack_s[1], F0
OUTPORT = zone3_cntclrack[1], Q0
OUTPORT = zone3_cntclrack_s[2], F1
OUTPORT = zone3_cntclrack[2], Q1
OUTPORT = zone3_cntclrack_cry[2], FCO
OUTPUT = SLICE_113, SLICE
OUTPORT = zone3_cntclrack_s[0], F1
OUTPORT = zone3_cntclrack[0], Q1
OUTPORT = zone3_cntclrack_cry[0], FCO
OUTPUT = SLICE_114, SLICE
OUTPORT = zone2_cntclrack_s[23], F0
OUTPORT = zone2_cntclrack[23], Q0
OUTPUT = SLICE_115, SLICE
OUTPORT = zone2_cntclrack_s[21], F0
OUTPORT = zone2_cntclrack[21], Q0
OUTPORT = zone2_cntclrack_s[22], F1
OUTPORT = zone2_cntclrack[22], Q1
OUTPORT = zone2_cntclrack_cry[22], FCO
OUTPUT = SLICE_116, SLICE
OUTPORT = zone2_cntclrack_s[19], F0
OUTPORT = zone2_cntclrack[19], Q0
OUTPORT = zone2_cntclrack_s[20], F1
OUTPORT = zone2_cntclrack[20], Q1
OUTPORT = zone2_cntclrack_cry[20], FCO
OUTPUT = SLICE_117, SLICE
OUTPORT = zone2_cntclrack_s[17], F0
OUTPORT = zone2_cntclrack[17], Q0
OUTPORT = zone2_cntclrack_s[18], F1
OUTPORT = zone2_cntclrack[18], Q1
OUTPORT = zone2_cntclrack_cry[18], FCO
OUTPUT = SLICE_118, SLICE
OUTPORT = zone2_cntclrack_s[15], F0
OUTPORT = zone2_cntclrack[15], Q0
OUTPORT = zone2_cntclrack_s[16], F1
OUTPORT = zone2_cntclrack[16], Q1
OUTPORT = zone2_cntclrack_cry[16], FCO
OUTPUT = SLICE_119, SLICE
OUTPORT = zone2_cntclrack_s[13], F0
OUTPORT = zone2_cntclrack[13], Q0
OUTPORT = zone2_cntclrack_s[14], F1
OUTPORT = zone2_cntclrack[14], Q1
OUTPORT = zone2_cntclrack_cry[14], FCO
OUTPUT = SLICE_120, SLICE
OUTPORT = zone2_cntclrack_s[11], F0
OUTPORT = zone2_cntclrack[11], Q0
OUTPORT = zone2_cntclrack_s[12], F1
OUTPORT = zone2_cntclrack[12], Q1
OUTPORT = zone2_cntclrack_cry[12], FCO
OUTPUT = SLICE_121, SLICE
OUTPORT = zone2_cntclrack_s[9], F0
OUTPORT = zone2_cntclrack[9], Q0
OUTPORT = zone2_cntclrack_s[10], F1
OUTPORT = zone2_cntclrack[10], Q1
OUTPORT = zone2_cntclrack_cry[10], FCO
OUTPUT = SLICE_122, SLICE
OUTPORT = zone2_cntclrack_s[7], F0
OUTPORT = zone2_cntclrack[7], Q0
OUTPORT = zone2_cntclrack_s[8], F1
OUTPORT = zone2_cntclrack[8], Q1
OUTPORT = zone2_cntclrack_cry[8], FCO
OUTPUT = SLICE_123, SLICE
OUTPORT = zone2_cntclrack_s[5], F0
OUTPORT = zone2_cntclrack[5], Q0
OUTPORT = zone2_cntclrack_s[6], F1
OUTPORT = zone2_cntclrack[6], Q1
OUTPORT = zone2_cntclrack_cry[6], FCO
OUTPUT = SLICE_124, SLICE
OUTPORT = zone2_cntclrack_s[3], F0
OUTPORT = zone2_cntclrack[3], Q0
OUTPORT = zone2_cntclrack_s[4], F1
OUTPORT = zone2_cntclrack[4], Q1
OUTPORT = zone2_cntclrack_cry[4], FCO
OUTPUT = SLICE_125, SLICE
OUTPORT = zone2_cntclrack_s[1], F0
OUTPORT = zone2_cntclrack[1], Q0
OUTPORT = zone2_cntclrack_s[2], F1
OUTPORT = zone2_cntclrack[2], Q1
OUTPORT = zone2_cntclrack_cry[2], FCO
OUTPUT = SLICE_126, SLICE
OUTPORT = zone2_cntclrack_s[0], F1
OUTPORT = zone2_cntclrack[0], Q1
OUTPORT = zone2_cntclrack_cry[0], FCO
OUTPUT = SLICE_127, SLICE
OUTPORT = zone1_cntclrack_s[23], F0
OUTPORT = zone1_cntclrack[23], Q0
OUTPUT = SLICE_128, SLICE
OUTPORT = zone1_cntclrack_s[21], F0
OUTPORT = zone1_cntclrack[21], Q0
OUTPORT = zone1_cntclrack_s[22], F1
OUTPORT = zone1_cntclrack[22], Q1
OUTPORT = zone1_cntclrack_cry[22], FCO
OUTPUT = SLICE_129, SLICE
OUTPORT = zone1_cntclrack_s[19], F0
OUTPORT = zone1_cntclrack[19], Q0
OUTPORT = zone1_cntclrack_s[20], F1
OUTPORT = zone1_cntclrack[20], Q1
OUTPORT = zone1_cntclrack_cry[20], FCO
OUTPUT = SLICE_130, SLICE
OUTPORT = zone1_cntclrack_s[17], F0
OUTPORT = zone1_cntclrack[17], Q0
OUTPORT = zone1_cntclrack_s[18], F1
OUTPORT = zone1_cntclrack[18], Q1
OUTPORT = zone1_cntclrack_cry[18], FCO
OUTPUT = SLICE_131, SLICE
OUTPORT = zone1_cntclrack_s[15], F0
OUTPORT = zone1_cntclrack[15], Q0
OUTPORT = zone1_cntclrack_s[16], F1
OUTPORT = zone1_cntclrack[16], Q1
OUTPORT = zone1_cntclrack_cry[16], FCO
OUTPUT = SLICE_132, SLICE
OUTPORT = zone1_cntclrack_s[13], F0
OUTPORT = zone1_cntclrack[13], Q0
OUTPORT = zone1_cntclrack_s[14], F1
OUTPORT = zone1_cntclrack[14], Q1
OUTPORT = zone1_cntclrack_cry[14], FCO
OUTPUT = SLICE_133, SLICE
OUTPORT = zone1_cntclrack_s[11], F0
OUTPORT = zone1_cntclrack[11], Q0
OUTPORT = zone1_cntclrack_s[12], F1
OUTPORT = zone1_cntclrack[12], Q1
OUTPORT = zone1_cntclrack_cry[12], FCO
OUTPUT = SLICE_134, SLICE
OUTPORT = zone1_cntclrack_s[9], F0
OUTPORT = zone1_cntclrack[9], Q0
OUTPORT = zone1_cntclrack_s[10], F1
OUTPORT = zone1_cntclrack[10], Q1
OUTPORT = zone1_cntclrack_cry[10], FCO
OUTPUT = SLICE_135, SLICE
OUTPORT = zone1_cntclrack_s[7], F0
OUTPORT = zone1_cntclrack[7], Q0
OUTPORT = zone1_cntclrack_s[8], F1
OUTPORT = zone1_cntclrack[8], Q1
OUTPORT = zone1_cntclrack_cry[8], FCO
OUTPUT = SLICE_136, SLICE
OUTPORT = zone1_cntclrack_s[5], F0
OUTPORT = zone1_cntclrack[5], Q0
OUTPORT = zone1_cntclrack_s[6], F1
OUTPORT = zone1_cntclrack[6], Q1
OUTPORT = zone1_cntclrack_cry[6], FCO
OUTPUT = SLICE_137, SLICE
OUTPORT = zone1_cntclrack_s[3], F0
OUTPORT = zone1_cntclrack[3], Q0
OUTPORT = zone1_cntclrack_s[4], F1
OUTPORT = zone1_cntclrack[4], Q1
OUTPORT = zone1_cntclrack_cry[4], FCO
OUTPUT = SLICE_138, SLICE
OUTPORT = zone1_cntclrack_s[1], F0
OUTPORT = zone1_cntclrack[1], Q0
OUTPORT = zone1_cntclrack_s[2], F1
OUTPORT = zone1_cntclrack[2], Q1
OUTPORT = zone1_cntclrack_cry[2], FCO
OUTPUT = SLICE_139, SLICE
OUTPORT = zone1_cntclrack_s[0], F1
OUTPORT = zone1_cntclrack[0], Q1
OUTPORT = zone1_cntclrack_cry[0], FCO
OUTPUT = SLICE_140, SLICE
OUTPORT = tcpcntclrack_s[23], F0
OUTPORT = tcpcntclrack[23], Q0
OUTPUT = SLICE_141, SLICE
OUTPORT = tcpcntclrack_s[21], F0
OUTPORT = tcpcntclrack[21], Q0
OUTPORT = tcpcntclrack_s[22], F1
OUTPORT = tcpcntclrack[22], Q1
OUTPORT = tcpcntclrack_cry[22], FCO
OUTPUT = SLICE_142, SLICE
OUTPORT = tcpcntclrack_s[19], F0
OUTPORT = tcpcntclrack[19], Q0
OUTPORT = tcpcntclrack_s[20], F1
OUTPORT = tcpcntclrack[20], Q1
OUTPORT = tcpcntclrack_cry[20], FCO
OUTPUT = SLICE_143, SLICE
OUTPORT = tcpcntclrack_s[17], F0
OUTPORT = tcpcntclrack[17], Q0
OUTPORT = tcpcntclrack_s[18], F1
OUTPORT = tcpcntclrack[18], Q1
OUTPORT = tcpcntclrack_cry[18], FCO
OUTPUT = SLICE_144, SLICE
OUTPORT = tcpcntclrack_s[15], F0
OUTPORT = tcpcntclrack[15], Q0
OUTPORT = tcpcntclrack_s[16], F1
OUTPORT = tcpcntclrack[16], Q1
OUTPORT = tcpcntclrack_cry[16], FCO
OUTPUT = SLICE_145, SLICE
OUTPORT = tcpcntclrack_s[13], F0
OUTPORT = tcpcntclrack[13], Q0
OUTPORT = tcpcntclrack_s[14], F1
OUTPORT = tcpcntclrack[14], Q1
OUTPORT = tcpcntclrack_cry[14], FCO
OUTPUT = SLICE_146, SLICE
OUTPORT = tcpcntclrack_s[11], F0
OUTPORT = tcpcntclrack[11], Q0
OUTPORT = tcpcntclrack_s[12], F1
OUTPORT = tcpcntclrack[12], Q1
OUTPORT = tcpcntclrack_cry[12], FCO
OUTPUT = SLICE_147, SLICE
OUTPORT = tcpcntclrack_s[9], F0
OUTPORT = tcpcntclrack[9], Q0
OUTPORT = tcpcntclrack_s[10], F1
OUTPORT = tcpcntclrack[10], Q1
OUTPORT = tcpcntclrack_cry[10], FCO
OUTPUT = SLICE_148, SLICE
OUTPORT = tcpcntclrack_s[7], F0
OUTPORT = tcpcntclrack[7], Q0
OUTPORT = tcpcntclrack_s[8], F1
OUTPORT = tcpcntclrack[8], Q1
OUTPORT = tcpcntclrack_cry[8], FCO
OUTPUT = SLICE_149, SLICE
OUTPORT = tcpcntclrack_s[5], F0
OUTPORT = tcpcntclrack[5], Q0
OUTPORT = tcpcntclrack_s[6], F1
OUTPORT = tcpcntclrack[6], Q1
OUTPORT = tcpcntclrack_cry[6], FCO
OUTPUT = SLICE_150, SLICE
OUTPORT = tcpcntclrack_s[3], F0
OUTPORT = tcpcntclrack[3], Q0
OUTPORT = tcpcntclrack_s[4], F1
OUTPORT = tcpcntclrack[4], Q1
OUTPORT = tcpcntclrack_cry[4], FCO
OUTPUT = SLICE_151, SLICE
OUTPORT = tcpcntclrack_s[1], F0
OUTPORT = tcpcntclrack[1], Q0
OUTPORT = tcpcntclrack_s[2], F1
OUTPORT = tcpcntclrack[2], Q1
OUTPORT = tcpcntclrack_cry[2], FCO
OUTPUT = SLICE_152, SLICE
OUTPORT = tcpcntclrack_s[0], F1
OUTPORT = tcpcntclrack[0], Q1
OUTPORT = tcpcntclrack_cry[0], FCO
OUTPUT = SLICE_153, SLICE
OUTPORT = pccntclrack_s[23], F0
OUTPORT = pccntclrack[23], Q0
OUTPUT = SLICE_154, SLICE
OUTPORT = pccntclrack_s[21], F0
OUTPORT = pccntclrack[21], Q0
OUTPORT = pccntclrack_s[22], F1
OUTPORT = pccntclrack[22], Q1
OUTPORT = pccntclrack_cry[22], FCO
OUTPUT = SLICE_155, SLICE
OUTPORT = pccntclrack_s[19], F0
OUTPORT = pccntclrack[19], Q0
OUTPORT = pccntclrack_s[20], F1
OUTPORT = pccntclrack[20], Q1
OUTPORT = pccntclrack_cry[20], FCO
OUTPUT = SLICE_156, SLICE
OUTPORT = pccntclrack_s[17], F0
OUTPORT = pccntclrack[17], Q0
OUTPORT = pccntclrack_s[18], F1
OUTPORT = pccntclrack[18], Q1
OUTPORT = pccntclrack_cry[18], FCO
OUTPUT = SLICE_157, SLICE
OUTPORT = pccntclrack_s[15], F0
OUTPORT = pccntclrack[15], Q0
OUTPORT = pccntclrack_s[16], F1
OUTPORT = pccntclrack[16], Q1
OUTPORT = pccntclrack_cry[16], FCO
OUTPUT = SLICE_158, SLICE
OUTPORT = pccntclrack_s[13], F0
OUTPORT = pccntclrack[13], Q0
OUTPORT = pccntclrack_s[14], F1
OUTPORT = pccntclrack[14], Q1
OUTPORT = pccntclrack_cry[14], FCO
OUTPUT = SLICE_159, SLICE
OUTPORT = pccntclrack_s[11], F0
OUTPORT = pccntclrack[11], Q0
OUTPORT = pccntclrack_s[12], F1
OUTPORT = pccntclrack[12], Q1
OUTPORT = pccntclrack_cry[12], FCO
OUTPUT = SLICE_160, SLICE
OUTPORT = pccntclrack_s[9], F0
OUTPORT = pccntclrack[9], Q0
OUTPORT = pccntclrack_s[10], F1
OUTPORT = pccntclrack[10], Q1
OUTPORT = pccntclrack_cry[10], FCO
OUTPUT = SLICE_161, SLICE
OUTPORT = pccntclrack_s[7], F0
OUTPORT = pccntclrack[7], Q0
OUTPORT = pccntclrack_s[8], F1
OUTPORT = pccntclrack[8], Q1
OUTPORT = pccntclrack_cry[8], FCO
OUTPUT = SLICE_162, SLICE
OUTPORT = pccntclrack_s[5], F0
OUTPORT = pccntclrack[5], Q0
OUTPORT = pccntclrack_s[6], F1
OUTPORT = pccntclrack[6], Q1
OUTPORT = pccntclrack_cry[6], FCO
OUTPUT = SLICE_163, SLICE
OUTPORT = pccntclrack_s[3], F0
OUTPORT = pccntclrack[3], Q0
OUTPORT = pccntclrack_s[4], F1
OUTPORT = pccntclrack[4], Q1
OUTPORT = pccntclrack_cry[4], FCO
OUTPUT = SLICE_164, SLICE
OUTPORT = pccntclrack_s[1], F0
OUTPORT = pccntclrack[1], Q0
OUTPORT = pccntclrack_s[2], F1
OUTPORT = pccntclrack[2], Q1
OUTPORT = pccntclrack_cry[2], FCO
OUTPUT = SLICE_165, SLICE
OUTPORT = pccntclrack_s[0], F1
OUTPORT = pccntclrack[0], Q1
OUTPORT = pccntclrack_cry[0], FCO
OUTPUT = SLICE_166, SLICE
OUTPORT = db9cntclrack_s[23], F0
OUTPORT = db9cntclrack[23], Q0
OUTPUT = SLICE_167, SLICE
OUTPORT = db9cntclrack_s[21], F0
OUTPORT = db9cntclrack[21], Q0
OUTPORT = db9cntclrack_s[22], F1
OUTPORT = db9cntclrack[22], Q1
OUTPORT = db9cntclrack_cry[22], FCO
OUTPUT = SLICE_168, SLICE
OUTPORT = db9cntclrack_s[19], F0
OUTPORT = db9cntclrack[19], Q0
OUTPORT = db9cntclrack_s[20], F1
OUTPORT = db9cntclrack[20], Q1
OUTPORT = db9cntclrack_cry[20], FCO
OUTPUT = SLICE_169, SLICE
OUTPORT = db9cntclrack_s[17], F0
OUTPORT = db9cntclrack[17], Q0
OUTPORT = db9cntclrack_s[18], F1
OUTPORT = db9cntclrack[18], Q1
OUTPORT = db9cntclrack_cry[18], FCO
OUTPUT = SLICE_170, SLICE
OUTPORT = db9cntclrack_s[15], F0
OUTPORT = db9cntclrack[15], Q0
OUTPORT = db9cntclrack_s[16], F1
OUTPORT = db9cntclrack[16], Q1
OUTPORT = db9cntclrack_cry[16], FCO
OUTPUT = SLICE_171, SLICE
OUTPORT = db9cntclrack_s[13], F0
OUTPORT = db9cntclrack[13], Q0
OUTPORT = db9cntclrack_s[14], F1
OUTPORT = db9cntclrack[14], Q1
OUTPORT = db9cntclrack_cry[14], FCO
OUTPUT = SLICE_172, SLICE
OUTPORT = db9cntclrack_s[11], F0
OUTPORT = db9cntclrack[11], Q0
OUTPORT = db9cntclrack_s[12], F1
OUTPORT = db9cntclrack[12], Q1
OUTPORT = db9cntclrack_cry[12], FCO
OUTPUT = SLICE_173, SLICE
OUTPORT = db9cntclrack_s[9], F0
OUTPORT = db9cntclrack[9], Q0
OUTPORT = db9cntclrack_s[10], F1
OUTPORT = db9cntclrack[10], Q1
OUTPORT = db9cntclrack_cry[10], FCO
OUTPUT = SLICE_174, SLICE
OUTPORT = db9cntclrack_s[7], F0
OUTPORT = db9cntclrack[7], Q0
OUTPORT = db9cntclrack_s[8], F1
OUTPORT = db9cntclrack[8], Q1
OUTPORT = db9cntclrack_cry[8], FCO
OUTPUT = SLICE_175, SLICE
OUTPORT = db9cntclrack_s[5], F0
OUTPORT = db9cntclrack[5], Q0
OUTPORT = db9cntclrack_s[6], F1
OUTPORT = db9cntclrack[6], Q1
OUTPORT = db9cntclrack_cry[6], FCO
OUTPUT = SLICE_176, SLICE
OUTPORT = db9cntclrack_s[3], F0
OUTPORT = db9cntclrack[3], Q0
OUTPORT = db9cntclrack_s[4], F1
OUTPORT = db9cntclrack[4], Q1
OUTPORT = db9cntclrack_cry[4], FCO
OUTPUT = SLICE_177, SLICE
OUTPORT = db9cntclrack_s[1], F0
OUTPORT = db9cntclrack[1], Q0
OUTPORT = db9cntclrack_s[2], F1
OUTPORT = db9cntclrack[2], Q1
OUTPORT = db9cntclrack_cry[2], FCO
OUTPUT = SLICE_178, SLICE
OUTPORT = rclk_pos, F0
OUTPORT = ack, Q0
OUTPORT = N_27_i, F1
OUTPUT = ack2mcu, PIO
OUTPUT = SLICE_181, SLICE
OUTPORT = car_cnt_i[0], F0
OUTPORT = car_cnt[0], Q0
OUTPORT = car_cnt_3[1], F1
OUTPORT = car_cnt[1], Q1
OUTPUT = SLICE_182, SLICE
OUTPORT = car_cnt_3[4], F0
OUTPORT = car_cnt[4], Q0
OUTPORT = car_cnt_3[7], F1
OUTPORT = car_cnt[7], Q1
OUTPUT = SLICE_183, SLICE
OUTPORT = car_cnt_3[9], F0
OUTPORT = car_cnt[9], Q0
OUTPORT = N_179, F1
OUTPUT = SLICE_195, SLICE
OUTPORT = un1_db9wait402ack11_i_s, F0
OUTPORT = db9wait402ack, Q0
OUTPORT = N_516_i, F1
OUTPORT = db9_rs232_tx_reg1, Q1
OUTPUT = SLICE_196, SLICE
OUTPORT = flag0t07, F0
OUTPORT = flag0t0, Q0
OUTPUT = SLICE_200, SLICE
OUTPORT = flag0t08, F0
OUTPORT = flag1t0, Q0
OUTPUT = SLICE_204, SLICE
OUTPORT = flag0t09, F0
OUTPORT = flag2t0, Q0
OUTPUT = SLICE_208, SLICE
OUTPORT = flag0t010, F0
OUTPORT = flag3t0, Q0
OUTPUT = SLICE_224, SLICE
OUTPORT = ir_car_detect_o1_inst/N_280_i, F0
OUTPORT = ir_car_detect_o1_inst/ir_sd_reg0, Q0
OUTPORT = ir_out1_i_a2_i_o4_0, F1
OUTPORT = ir_car_detect_o1_inst/ir_sd_reg1, Q1
OUTPUT = SLICE_226, SLICE
OUTPORT = ir_car_detect_o2_inst/N_279_i, F0
OUTPORT = ir_car_detect_o2_inst/ir_sd_reg0, Q0
OUTPORT = ir_out2_i_a2_i_o4_0, F1
OUTPORT = ir_car_detect_o2_inst/ir_sd_reg1, Q1
OUTPUT = SLICE_228, SLICE
OUTPORT = ir_car_detect_o3_inst/N_281_i, F0
OUTPORT = ir_car_detect_o3_inst/ir_sd_reg0, Q0
OUTPORT = ir_out3_i_a2_i_o4_0, F1
OUTPORT = ir_car_detect_o3_inst/ir_sd_reg1, Q1
OUTPUT = SLICE_230, SLICE
OUTPORT = ir_car_detect_o4_inst/N_282_i, F0
OUTPORT = ir_car_detect_o4_inst/ir_sd_reg0, Q0
OUTPORT = ir_out4_i_a2_i_o4_0, F1
OUTPORT = ir_car_detect_o4_inst/ir_sd_reg1, Q1
OUTPUT = ir_rx_isnt1/SLICE_235, SLICE
OUTPORT = ir_rx_isnt1/N_188, F0
OUTPORT = ir_rx_isnt1/hig_cnt[0], Q0
OUTPORT = ir_rx_isnt1/N_187, F1
OUTPORT = ir_rx_isnt1/hig_cnt[1], Q1
OUTPUT = ir_rx_isnt1/SLICE_236, SLICE
OUTPORT = ir_rx_isnt1/N_8_i, F0
OUTPORT = ir_rx_isnt1/hig_cnt[2], Q0
OUTPORT = ir_rx_isnt1/N_10_i, F1
OUTPORT = ir_rx_isnt1/hig_cnt[3], Q1
OUTPUT = ir_rx_isnt1/SLICE_237, SLICE
OUTPORT = ir_rx_isnt1/N_12_i, F0
OUTPORT = ir_rx_isnt1/hig_cnt[4], Q0
OUTPORT = ir_rx_isnt1/N_14_i, F1
OUTPORT = ir_rx_isnt1/hig_cnt[5], Q1
OUTPUT = ir_rx_isnt1/SLICE_238, SLICE
OUTPORT = ir_rx_isnt1/N_16_i, F0
OUTPORT = ir_rx_isnt1/hig_cnt[6], Q0
OUTPORT = ir_rx_isnt1/N_18_i, F1
OUTPORT = ir_rx_isnt1/hig_cnt[7], Q1
OUTPUT = ir_rx_isnt1/SLICE_239, SLICE
OUTPORT = ir_rx_isnt1/N_20_i, F0
OUTPORT = ir_rx_isnt1/hig_cnt[8], Q0
OUTPORT = ir_rx_isnt1/N_22_i, F1
OUTPORT = ir_rx_isnt1/hig_cnt[9], Q1
OUTPUT = ir_rx_isnt2/SLICE_240, SLICE
OUTPORT = ir_rx_isnt2/N_198, F0
OUTPORT = ir_rx_isnt2/hig_cnt[0], Q0
OUTPORT = ir_rx_isnt2/N_197, F1
OUTPORT = ir_rx_isnt2/hig_cnt[1], Q1
OUTPUT = ir_rx_isnt2/SLICE_241, SLICE
OUTPORT = ir_rx_isnt2/N_28_i, F0
OUTPORT = ir_rx_isnt2/hig_cnt[2], Q0
OUTPORT = ir_rx_isnt2/N_30_i, F1
OUTPORT = ir_rx_isnt2/hig_cnt[3], Q1
OUTPUT = ir_rx_isnt2/SLICE_242, SLICE
OUTPORT = ir_rx_isnt2/N_32_i, F0
OUTPORT = ir_rx_isnt2/hig_cnt[4], Q0
OUTPORT = ir_rx_isnt2/N_34_i, F1
OUTPORT = ir_rx_isnt2/hig_cnt[5], Q1
OUTPUT = ir_rx_isnt2/SLICE_243, SLICE
OUTPORT = ir_rx_isnt2/N_36_i, F0
OUTPORT = ir_rx_isnt2/hig_cnt[6], Q0
OUTPORT = ir_rx_isnt2/N_38_i, F1
OUTPORT = ir_rx_isnt2/hig_cnt[7], Q1
OUTPUT = ir_rx_isnt2/SLICE_244, SLICE
OUTPORT = ir_rx_isnt2/N_40_i, F0
OUTPORT = ir_rx_isnt2/hig_cnt[8], Q0
OUTPORT = ir_rx_isnt2/N_42_i, F1
OUTPORT = ir_rx_isnt2/hig_cnt[9], Q1
OUTPUT = ir_rx_isnt3/SLICE_245, SLICE
OUTPORT = ir_rx_isnt3/N_208, F0
OUTPORT = ir_rx_isnt3/hig_cnt[0], Q0
OUTPORT = ir_rx_isnt3/N_207, F1
OUTPORT = ir_rx_isnt3/hig_cnt[1], Q1
OUTPUT = ir_rx_isnt3/SLICE_246, SLICE
OUTPORT = ir_rx_isnt3/N_48_i, F0
OUTPORT = ir_rx_isnt3/hig_cnt[2], Q0
OUTPORT = ir_rx_isnt3/N_50_i, F1
OUTPORT = ir_rx_isnt3/hig_cnt[3], Q1
OUTPUT = ir_rx_isnt3/SLICE_247, SLICE
OUTPORT = ir_rx_isnt3/N_52_i, F0
OUTPORT = ir_rx_isnt3/hig_cnt[4], Q0
OUTPORT = ir_rx_isnt3/N_54_i, F1
OUTPORT = ir_rx_isnt3/hig_cnt[5], Q1
OUTPUT = ir_rx_isnt3/SLICE_248, SLICE
OUTPORT = ir_rx_isnt3/N_56_i, F0
OUTPORT = ir_rx_isnt3/hig_cnt[6], Q0
OUTPORT = ir_rx_isnt3/N_58_i, F1
OUTPORT = ir_rx_isnt3/hig_cnt[7], Q1
OUTPUT = ir_rx_isnt3/SLICE_249, SLICE
OUTPORT = ir_rx_isnt3/N_60_i, F0
OUTPORT = ir_rx_isnt3/hig_cnt[8], Q0
OUTPORT = ir_rx_isnt3/N_62_i, F1
OUTPORT = ir_rx_isnt3/hig_cnt[9], Q1
OUTPUT = ir_rx_isnt4/SLICE_250, SLICE
OUTPORT = ir_rx_isnt4/N_218, F0
OUTPORT = ir_rx_isnt4/hig_cnt[0], Q0
OUTPORT = ir_rx_isnt4/N_217, F1
OUTPORT = ir_rx_isnt4/hig_cnt[1], Q1
OUTPUT = ir_rx_isnt4/SLICE_251, SLICE
OUTPORT = ir_rx_isnt4/N_68_i, F0
OUTPORT = ir_rx_isnt4/hig_cnt[2], Q0
OUTPORT = ir_rx_isnt4/N_70_i, F1
OUTPORT = ir_rx_isnt4/hig_cnt[3], Q1
OUTPUT = ir_rx_isnt4/SLICE_252, SLICE
OUTPORT = ir_rx_isnt4/N_72_i, F0
OUTPORT = ir_rx_isnt4/hig_cnt[4], Q0
OUTPORT = ir_rx_isnt4/N_74_i, F1
OUTPORT = ir_rx_isnt4/hig_cnt[5], Q1
OUTPUT = ir_rx_isnt4/SLICE_253, SLICE
OUTPORT = ir_rx_isnt4/N_76_i, F0
OUTPORT = ir_rx_isnt4/hig_cnt[6], Q0
OUTPORT = ir_rx_isnt4/N_78_i, F1
OUTPORT = ir_rx_isnt4/hig_cnt[7], Q1
OUTPUT = ir_rx_isnt4/SLICE_254, SLICE
OUTPORT = ir_rx_isnt4/N_80_i, F0
OUTPORT = ir_rx_isnt4/hig_cnt[8], Q0
OUTPORT = ir_rx_isnt4/N_82_i, F1
OUTPORT = ir_rx_isnt4/hig_cnt[9], Q1
OUTPUT = ir_rx_isnt5/SLICE_255, SLICE
OUTPORT = ir_rx_isnt5/N_237, F0
OUTPORT = ir_rx_isnt5/hig_cnt[0], Q0
OUTPORT = ir_rx_isnt5/N_236, F1
OUTPORT = ir_rx_isnt5/hig_cnt[1], Q1
OUTPUT = ir_rx_isnt5/SLICE_256, SLICE
OUTPORT = ir_rx_isnt5/N_582_i, F0
OUTPORT = ir_rx_isnt5/hig_cnt[2], Q0
OUTPORT = ir_rx_isnt5/N_583_i, F1
OUTPORT = ir_rx_isnt5/hig_cnt[3], Q1
OUTPUT = ir_rx_isnt5/SLICE_257, SLICE
OUTPORT = ir_rx_isnt5/N_584_i, F0
OUTPORT = ir_rx_isnt5/hig_cnt[4], Q0
OUTPORT = ir_rx_isnt5/N_585_i, F1
OUTPORT = ir_rx_isnt5/hig_cnt[5], Q1
OUTPUT = ir_rx_isnt5/SLICE_258, SLICE
OUTPORT = ir_rx_isnt5/N_586_i, F0
OUTPORT = ir_rx_isnt5/hig_cnt[6], Q0
OUTPORT = ir_rx_isnt5/N_587_i, F1
OUTPORT = ir_rx_isnt5/hig_cnt[7], Q1
OUTPUT = ir_rx_isnt5/SLICE_259, SLICE
OUTPORT = ir_rx_isnt5/N_588_i, F0
OUTPORT = ir_rx_isnt5/hig_cnt[8], Q0
OUTPORT = ir_rx_isnt5/N_589_i, F1
OUTPORT = ir_rx_isnt5/hig_cnt[9], Q1
OUTPUT = SLICE_260, SLICE
OUTPORT = irn_rs_5_iv_i_s, F0
OUTPORT = irn_rs, Q0
OUTPORT = irn_rs_5_iv_i_s_1, F1
OUTPUT = SLICE_261, SLICE
OUTPORT = N_536_i, F0
OUTPORT = pcto402_ack, Q0
OUTPORT = N_546, F1
OUTPUT = SLICE_262, SLICE
OUTPORT = un1_pcto402ack_pulse11_i_s, F0
OUTPORT = pcto402ack_pulse, Q0
OUTPORT = N_515_i, F1
OUTPUT = SLICE_265, SLICE
OUTPORT = rclk_r32, F0
OUTPORT = rclk_r3, Q0
OUTPORT = rclk_r3.fb, F1
OUTPUT = SLICE_269, SLICE
OUTPORT = ir_out1_i_a2_i_a4_6_0, F0
OUTPORT = rs232_zone3_tx_reg1, Q0
OUTPORT = ack.fb, F1
OUTPORT = rs232_zone1_tx_reg1, Q1
OUTPUT = SLICE_270, SLICE
OUTPORT = pccntclrack, F0
OUTPORT = rs232_zone4_tx_reg1, Q0
OUTPORT = ir_car_care9_0_o2_0, F1
OUTPORT = rs232_zone2_tx_reg1, Q1
OUTPUT = uart_u2/my_uart_tx/SLICE_271, SLICE
OUTPORT = uart_u2/my_uart_tx/rs232_tx_r_11, OFX0
OUTPORT = rs232tx, Q0
OUTPUT = SLICE_272, SLICE
OUTPORT = wren_w, F0
OUTPORT = rx_int0, Q0
OUTPORT = rden, F1
OUTPORT = rx_int1, Q1
OUTPUT = SLICE_273, SLICE
OUTPORT = ir_in1_edg_i, F0
OUTPORT = sel0, Q0
OUTPORT = un1_ir_in1_edg_1_0, F1
OUTPUT = SLICE_274, SLICE
OUTPORT = ir_in2_edg_i, F0
OUTPORT = sel1, Q0
OUTPORT = un1_ir_in2_edg_1_0, F1
OUTPUT = SLICE_275, SLICE
OUTPORT = ir_in3_edg_i, F0
OUTPORT = sel2, Q0
OUTPORT = un1_ir_in3_edg_1_0, F1
OUTPUT = SLICE_276, SLICE
OUTPORT = ir_in4_edg_i, F0
OUTPORT = sel3, Q0
OUTPORT = un1_ir_in4_edg_1_0, F1
OUTPUT = SLICE_277, SLICE
OUTPORT = state_RNO[0], F0
OUTPORT = state[0], Q0
OUTPORT = state_ns_i_i[1], F1
OUTPORT = state[1], Q1
OUTPUT = SLICE_278, SLICE
OUTPORT = mcu_rs232_rx_i_a2_61, F0
OUTPORT = sw402_1, Q0
OUTPORT = mcu_rs232_rx_i_a2_65, F1
OUTPORT = sw402_2, Q1
OUTPUT = SLICE_279, SLICE
OUTPORT = mcu_rs232_rx_i_a2_49, F0
OUTPORT = sw402_3, Q0
OUTPORT = mcu_rs232_rx_i_a2_53, F1
OUTPORT = sw402_4, Q1
OUTPUT = SLICE_280, SLICE
OUTPORT = zone4_cntclrack, F0
OUTPORT = tcp_rs232_tx_reg1, Q0
OUTPORT = zone2_cntclrack, F1
OUTPUT = SLICE_281, SLICE
OUTPORT = un1_tcpwait402ack11_i_s, F0
OUTPORT = tcpwait402ack, Q0
OUTPORT = N_83_i, F1
OUTPUT = SLICE_282, SLICE
OUTPORT = ir402out3_c, F0
OUTPORT = tx_int, Q0
OUTPORT = flag0t3_1_sqmuxa, F1
OUTPUT = ir402out3, PIO
OUTPUT = SLICE_283, SLICE
OUTPORT = rdy_i, F0
OUTPORT = txen, Q0
OUTPORT = uart_u2/my_uart_tx/un1_num_0_sqmuxa, F1
OUTPUT = uart_u2/my_uart_tx/SLICE_284, SLICE
OUTPORT = uart_u2/my_uart_tx/num_4[0], F0
OUTPORT = uart_u2/my_uart_tx/num[0], Q0
OUTPORT = uart_u2/my_uart_tx/num_4[1], F1
OUTPORT = uart_u2/my_uart_tx/num[1], Q1
OUTPUT = uart_u2/my_uart_tx/SLICE_285, SLICE
OUTPORT = uart_u2/my_uart_tx/num_RNO[2], F0
OUTPORT = uart_u2/my_uart_tx/num[2], Q0
OUTPORT = uart_u2/my_uart_tx/num_4[3], F1
OUTPORT = uart_u2/my_uart_tx/num[3], Q1
OUTPUT = SLICE_286, SLICE
OUTPORT = ir_car_detect_o1_inst/ir_edge_chg, F0
OUTPORT = uart_u2/my_uart_tx/tx_data[0], Q0
OUTPORT = uart_u2/speed_tx/bps_sel_i[0], F1
OUTPORT = uart_u2/my_uart_tx/tx_data[1], Q1
OUTPUT = SLICE_287, SLICE
OUTPORT = ir_car_detect_o3_inst/ir_edge_chg, F0
OUTPORT = uart_u2/my_uart_tx/tx_data[2], Q0
OUTPORT = ir_car_detect_o2_inst/ir_edge_chg, F1
OUTPORT = uart_u2/my_uart_tx/tx_data[3], Q1
OUTPUT = SLICE_288, SLICE
OUTPORT = ir_car_detect_i1_inst/ir_edge_chg, F0
OUTPORT = uart_u2/my_uart_tx/tx_data[4], Q0
OUTPORT = ir_car_detect_o4_inst/ir_edge_chg, F1
OUTPORT = uart_u2/my_uart_tx/tx_data[5], Q1
OUTPUT = SLICE_289, SLICE
OUTPORT = ir_rx_isnt5.un1_hig_cntlto9_5, F0
OUTPORT = uart_u2/my_uart_tx/tx_data[6], Q0
OUTPORT = ir_rx_isnt3.un1_hig_cntlto9_5, F1
OUTPORT = uart_u2/my_uart_tx/tx_data[7], Q1
OUTPUT = SLICE_290, SLICE
OUTPORT = N_538_i, F0
OUTPORT = wren, Q0
OUTPORT = N_542, F1
OUTPUT = SLICE_291, SLICE
OUTPORT = un1_zone1_wait402ack11_i_s, F0
OUTPORT = zone1_wait402ack, Q0
OUTPORT = zone1_cntclracke, F1
OUTPUT = SLICE_292, SLICE
OUTPORT = un1_zone2_wait402ack11_i_s, F0
OUTPORT = zone2_wait402ack, Q0
OUTPORT = N_514_i, F1
OUTPUT = SLICE_293, SLICE
OUTPORT = un1_zone3_wait402ack11_i_s, F0
OUTPORT = zone3_wait402ack, Q0
OUTPORT = zone3_cntclracke, F1
OUTPUT = SLICE_294, SLICE
OUTPORT = un1_zone4_wait402ack11_i_s, F0
OUTPORT = zone4_wait402ack, Q0
OUTPORT = N_81_i, F1
OUTPUT = SLICE_299, SLICE
OUTPORT = ir_rx_isnt3.un1_hig_cntlto9_4, F0
OUTPORT = ir_in2_reg, Q0
OUTPORT = ir2mcu_0_a2_0_a3_1, F1
OUTPORT = ir_in2_reg1, Q1
OUTPUT = uart_u2/my_uart_tx/SLICE_301, SLICE
OUTPORT = uart_u2/my_uart_tx/un1_rx_int, F0
OUTPORT = rdy, Q0
OUTPORT = uart_u2/my_uart_tx/un1_num_2, F1
OUTPUT = SLICE_303, SLICE
OUTPORT = ir402out1_c, F0
OUTPORT = chnum[0], Q0
OUTPORT = N_266, F1
OUTPORT = chnum[1], Q1
OUTPUT = ir402out1, PIO
OUTPUT = SLICE_304, SLICE
OUTPORT = N_137, F0
OUTPORT = flag0t3, Q0
OUTPORT = ir_out1_i_a2_i_o4_1, F1
OUTPORT = flag1t3, Q1
OUTPUT = ir_out1, PIO
OUTPUT = SLICE_305, SLICE
OUTPORT = N_141, F0
OUTPORT = flag2t3, Q0
OUTPORT = ir_out2_i_a2_i_o4_1, F1
OUTPORT = flag3t3, Q1
OUTPUT = ir_out2, PIO
OUTPUT = SLICE_309, SLICE
OUTPORT = N_270, F0
OUTPORT = flag2t1, Q0
OUTPORT = N_264, F1
OUTPORT = flag3t1, Q1
OUTPUT = SLICE_310, SLICE
OUTPORT = N_506_i, F0
OUTPORT = rclk_r2, Q0
OUTPORT = N_520, F1
OUTPUT = rs232_402_2rx, PIO
OUTPUT = SLICE_314, SLICE
OUTPORT = ir_car_care9, F0
OUTPORT = con_reg[0], Q0
OUTPORT = N_539, F1
OUTPORT = con_reg[1], Q1
OUTPUT = SLICE_316, SLICE
OUTPORT = flag0t0_0_sqmuxa, F0
OUTPORT = bps_sel[0], Q0
OUTPORT = N_66, F1
OUTPORT = bps_sel[1], Q1
OUTPUT = SLICE_324, SLICE
OUTPORT = flag0t2_1_sqmuxa, F0
OUTPORT = bps_sel[2], Q0
OUTPORT = flag0t1_1_sqmuxa, F1
OUTPUT = SLICE_330, SLICE
OUTPORT = N_174, F0
OUTPORT = flag2t2, Q0
OUTPORT = N_177, F1
OUTPORT = flag3t2, Q1
OUTPUT = SLICE_331, SLICE
OUTPORT = ir_car_detect_i1_inst/ir_edge_chg_i, F0
OUTPORT = con_reg[2], Q0
OUTPORT = ir_car_detect_i1_inst/ir_cnt, F1
OUTPORT = con_reg[3], Q1
OUTPUT = SLICE_332, SLICE
OUTPORT = ir_car_detect_o4_inst/ir_edge_chg_i, F0
OUTPORT = flag0t2, Q0
OUTPORT = ir_car_detect_o4_inst/ir_cnt, F1
OUTPORT = flag1t2, Q1
OUTPUT = SLICE_333, SLICE
OUTPORT = ir_car_detect_o3_inst/ir_edge_chg_i, F0
OUTPORT = flag0t1, Q0
OUTPORT = ir_car_detect_o3_inst/ir_cnt, F1
OUTPORT = flag1t1, Q1
OUTPUT = SLICE_334, SLICE
OUTPORT = ir_car_detect_o2_inst/ir_edge_chg_i, F0
OUTPORT = con_reg[6], Q0
OUTPORT = ir_car_detect_o2_inst/ir_cnt, F1
OUTPORT = con_reg[7], Q1
OUTPUT = SLICE_335, SLICE
OUTPORT = ir_car_detect_o1_inst/ir_edge_chg_i, F0
OUTPORT = con_reg[4], Q0
OUTPORT = ir_car_detect_o1_inst/ir_cnt, F1
OUTPORT = con_reg[5], Q1
OUTPUT = SLICE_338, SLICE
OUTPORT = ir402out2_c, F0
OUTPORT = chnum[2], Q0
OUTPORT = ir402out4_c, F1
OUTPUT = ir402out2, PIO
OUTPUT = ir402out4, PIO
OUTPUT = SLICE_351, SLICE
OUTPORT = ir_rx_isnt2.un1_hig_cntlto9_5, F0
OUTPORT = ir_car_detect_i1_inst.ir_car_null, Q0
OUTPORT = ir_rx_isnt2.un1_hig_cntlto9_4, F1
OUTPUT = SLICE_353, SLICE
OUTPORT = N_505_i, F0
OUTPORT = rclk_r, Q0
OUTPORT = tcpcntclrack, F1
OUTPORT = rclk_r1, Q1
OUTPUT = rs232_402_1rx, PIO
OUTPUT = fifo_u1/fifo64x8_0_0, EBR
OUTPORT = txdata[7], DOA7
OUTPORT = txdata[6], DOA6
OUTPORT = txdata[5], DOA5
OUTPORT = txdata[4], DOA4
OUTPORT = txdata[3], DOA3
OUTPORT = txdata[2], DOA2
OUTPORT = txdata[1], DOA1
OUTPORT = txdata[0], DOA0
OUTPORT = full, FF
OUTPORT = empty, EF

