LOCATE COMP "srclk" SITE "112" ;
LOCATE COMP "ser" SITE "113" ;
LOCATE COMP "rs232_tcp_tx" SITE "82" ;
LOCATE COMP "rs232_tcp_rx" SITE "81" ;
LOCATE COMP "rs232_mcu_tx" SITE "120" ;
LOCATE COMP "rs232_mcu_rx" SITE "119" ;
LOCATE COMP "rs232_db9_tx" SITE "84" ;
LOCATE COMP "rs232_402x_tx_6" SITE "62" ;
LOCATE COMP "rs232_db9_rx" SITE "83" ;
LOCATE COMP "rs232_402x_tx_5" SITE "55" ;
LOCATE COMP "rs232_402x_tx_4" SITE "45" ;
LOCATE COMP "rs232_402x_tx_3" SITE "38" ;
LOCATE COMP "rs232_402x_tx_2" SITE "26" ;
LOCATE COMP "rs232_402x_tx_1" SITE "19" ;
LOCATE COMP "rs232_402x_tx_0" SITE "6" ;
LOCATE COMP "rs232_402x_rx_6" SITE "65" ;
LOCATE COMP "rs232_402x_rx_5" SITE "56" ;
LOCATE COMP "rs232_402x_rx_4" SITE "47" ;
LOCATE COMP "rs232_402x_rx_3" SITE "39" ;
LOCATE COMP "rs232_402x_rx_2" SITE "27" ;
LOCATE COMP "rs232_402x_rx_1" SITE "20" ;
LOCATE COMP "rs232_402x_rx_0" SITE "9" ;
LOCATE COMP "rclk" SITE "111" ;
LOCATE COMP "irx_o_7" SITE "93" ;
LOCATE COMP "irx_o_6" SITE "94" ;
LOCATE COMP "irx_o_5" SITE "95" ;
LOCATE COMP "irx_o_4" SITE "96" ;
LOCATE COMP "irx_o_3" SITE "97" ;
LOCATE COMP "irx_o_2" SITE "98" ;
LOCATE COMP "irx_o_1" SITE "99" ;
LOCATE COMP "irx_o_0" SITE "100" ;
LOCATE COMP "irx_i_6" SITE "57" ;
LOCATE COMP "irx_i_5" SITE "48" ;
LOCATE COMP "irx_i_4" SITE "40" ;
LOCATE COMP "irx_i_3" SITE "28" ;
LOCATE COMP "irx_i_2" SITE "21" ;
LOCATE COMP "irx_i_1" SITE "10" ;
LOCATE COMP "irx_i_0" SITE "1" ;
LOCATE COMP "ir_front" SITE "109" ;
LOCATE COMP "ir_all_out" SITE "104" ;
LOCATE COMP "ir_eye" SITE "86" ;
LOCATE COMP "ir_402x_o_7" SITE "78" ;
LOCATE COMP "ir_402x_o_5" SITE "54" ;
LOCATE COMP "ir_402x_o_4" SITE "44" ;
LOCATE COMP "ir_402x_o_3" SITE "35" ;
LOCATE COMP "ir_402x_o_2" SITE "25" ;
LOCATE COMP "ir_402x_o_1" SITE "14" ;
LOCATE COMP "ir_402x_o_0" SITE "5" ;
LOCATE COMP "ir_402x_i_7" SITE "77" ;
LOCATE COMP "ir_402x_i_6" SITE "61" ;
LOCATE COMP "ir_402x_i_5" SITE "52" ;
LOCATE COMP "ir_402x_i_4" SITE "43" ;
LOCATE COMP "ir_402x_i_3" SITE "34" ;
LOCATE COMP "ir_402x_i_2" SITE "24" ;
LOCATE COMP "ir_402x_i_1" SITE "13" ;
LOCATE COMP "ir_402x_i_0" SITE "4" ;
LOCATE COMP "ir2mcu" SITE "110" ;
LOCATE COMP "clk" SITE "128" ;
LOCATE COMP "ack2mcu" SITE "114" ;
IOBUF ALLPORTS IO_TYPE=LVTTL33 PULLMODE=UP ;
IOBUF PORT "ack2mcu" IO_TYPE=LVTTL33 PULLMODE=DOWN ;
